.idea/
.pytest_cache

terraform.tfstate
README_INT.md


roles/ansible-grafana
roles/ansible-prometheus
roles/ansible-alertmanager
roles/setup-app-rhizome
roles/setup-app-block42
roles/setup-app-official
roles/ansible-hardening
roles/ansible-os-hardening
roles/ansible-ssh-hardening
roles/role-secure-docker-daemon
roles/p-rep-pack
roles/citizen-pack
roles/node-clean-up
roles/bastion-pack
roles/sentry-pack
roles/ebs-automatic-nvme-mapping
roles/ossec-server
roles/ossec-agent
roles/monitor-everstake